// general colors
$primary-color: #484646;
$secondary-color: #fdf0ff;
$tertiary-color: #1e86ed;

// background color
$bg-color-main: #1d1c1c;

// imgs
$img-hero: url('../assets/jumbotron.jpg');
$img-footer: url('../assets/footer-bg.jpg');
