// text
$text-primary-color: #484646;
$text-secondary-color: #fdf0ff;
$text-tertiary-color: #1e86ed;

// background color
$bg-color-main: #1d1c1c;

// img
$img-hero: url('../assets/jumbotron.jpg');


// icons